- set_meta :title, "Rezli | Organization | #{@organization.title}"
- set_meta :description, "Check out #{@organization.title}'s profile on rezli. Play, connect, succeed."
- if @organization.logo_id?
  - set_meta 'og:image',      @organization.logo_url(width: 400, height: 400, crop: :fit)
  - set_meta 'twitter:image', @organization.logo_url(width: 400, height: 400, crop: :fit)

= react_component 'OrganizationShowContainer'

= react_component 'NewPostModal'
